body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  label, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }

  select{
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    color: #333;
  }
  

  .accountant-calculations td{
    color:black;
    background-color:#e4d9d9;
  }


  
  .goback a{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color:#000000;
    color: white;
    text-decoration:none;
    padding:10px;

    
  }

  .goback{
    margin-left: 630px;
  }
