*{
    margin:0;
    padding:0;
}


body {
    font-family: Arial, sans-serif;
    background-image:url('../img/tr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255,255,0.4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top:5%;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex; /*to align and distribute space among items within a container*/
    flex-direction: column;
    text-align: center;
  }
  
  label, input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color:#000000;
    color: white;
    margin: 0 10px;
  }
  
  button:hover {
    background-color: dodgerblue;
  }
  .masg{
    position: absolute;
    left: 531;
    top:695px;
    background-color: grey;
    color:white;
    font-size: 23px;

  }
  

  .goback a{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color:#000000;
    color: white;
    text-decoration:none;
    padding:10px;

    
  }

  .goback{
    
    margin-top: 10px;
    margin-right: 4px;
  }
